<div [@routerTransition]>
    <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header>
    <div class="row">

        <div class="col col-xl-6 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Basic example
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th *ngFor="let colname of Table1Data.colname">
                                    {{ colname }}
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let ThisRow of Table1Data.tabdata; let i=index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{ThisRow.Name}}</td>
                                <td>{{ThisRow.Born}}</td>
                                <td>{{ThisRow.Memory}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>



            <div class="card mb-3">
                <div class="card-header">Table head options</div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead class="thead-inverse">
                            <tr>
                                <th *ngFor="let colname of Table1Data.colname">
                                    {{ colname }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ThisRow of Table1Data.tabdata; let i=index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{ThisRow.Name}}</td>
                                <td>{{ThisRow.Born}}</td>
                                <td>{{ThisRow.Memory}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead class="thead-default">
                            <tr>
                                <th *ngFor="let colname of Table1Data.colname">
                                    {{ colname }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ThisRow of Table1Data.tabdata; let i=index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{ThisRow.Name}}</td>
                                <td>{{ThisRow.Born}}</td>
                                <td>{{ThisRow.Memory}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">Bordered table</div>
                <div class="card-body table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th *ngFor="let colname of Table1Data.colname">
                                    {{ colname }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ThisRow of Table1Data.tabdata; let i=index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{ThisRow.Name}}</td>
                                <td>{{ThisRow.Born}}</td>
                                <td>{{ThisRow.Memory}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">Small table</div>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th *ngFor="let colname of Table1Data.colname">
                                {{ colname }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ThisRow of Table1Data.tabdata; let i=index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{ThisRow.Name}}</td>
                            <td>{{ThisRow.Born}}</td>
                            <td>{{ThisRow.Memory}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!-- 
            ##################   
        -->

        <div class="col col-xl-6 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">Inverse table</div>
                <div class="card-body table-responsive">
                    <table class="table table-inverse">
                        <thead>
                            <tr>
                                <th *ngFor="let colname of Table1Data.colname">
                                    {{ colname }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ThisRow of Table1Data.tabdata; let i=index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{ThisRow.Name}}</td>
                                <td>{{ThisRow.Born}}</td>
                                <td>{{ThisRow.Memory}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">Striped Rows</div>
                <div class="card-body table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let colname of Table1Data.colname">
                                    {{ colname }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ThisRow of Table1Data.tabdata; let i=index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{ThisRow.Name}}</td>
                                <td>{{ThisRow.Born}}</td>
                                <td>{{ThisRow.Memory}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">Hoverable rows</div>
                <table class="card-body table table-hover">
                    <thead>
                        <tr>
                            <th *ngFor="let colname of Table1Data.colname">
                                {{ colname }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ThisRow of Table1Data.tabdata; let i=index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{ThisRow.Name}}</td>
                            <td>{{ThisRow.Born}}</td>
                            <td>{{ThisRow.Memory}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

